<!--Navigation Bar-->
<nav class="nav-container">   
    <a href="https://open.spotify.com/user/music111444?si=683385c9a15e483a" target="_blank">
        <img class="nav-container-img" src="/assets/spotify-icon.jpeg"/></a>
        
    <a href="/discover">Discover</a>   
    <a href="/culture"">Culture</a> 
    <a href="/appreciate">Appreciate</a>
    
</nav>