<!--Navigation Bar-->
<nav>
<a href="https://open.spotify.com/user/music111444?si=683385c9a15e483a" target="_blank">
<img src="spotify-logo.jpg"/></a>
<a href="Appreciate.html">Appreciate</a>
<a href="Culture.html">Culture</a>
<a href="Discover.html">Discover</a>
</nav>