<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <base href="{{deployURL}}">
    <meta name="Vibe Vault" content="a music blog for those who want to discover new media">
    <meta name="Faith Wilson" content="Faith Wilson">
    <link rel="icon" type="image/png" href="favicon.ico">
    <meta property="og:image" content="<!-- add link here -->" />

    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/assets/menu.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <meta charset="utf-8">

    </head>