.nav-container {
  display: flex;
  justify-content: right;
  gap: 50px;
  color: white;
  background-color: black;
  width: auto;
  height: 25px;
  padding: 15px 0px 0px 0px;
}

.nav-container a{
  color:white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; 
}

.nav-container a:hover {
  color: orange;
}

.nav-container-img {
  display: flex;
  border: 1px solid green;
  gap: 20px;
  justify-content: left;
}

.main-content-container {
  background-color: black;
}

.main-content-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0;
  color: white;
}

.sitename-container{
  display:flex;
  border: blue 1px solid;
  justify-content: left;
}

.main-content-text-discover-page{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 0px 0px 0px 0px;
  margin: 0;
  color: white;
}
.main-content-container-discover-page {
  background-color: black;
  border: yellow 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-container {
  border: beige 1px solid;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.song-number-one {
  border: pink 1px solid;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.song-number-two {
  border: grey 1px solid;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.song-number-three {
  border: purple 1px solid;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.song-number-four {
  border: orange 1px solid;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.section-title-area{
  border: green 1px solid;
}

.section-title-month{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 175px;
  margin: 0;
  letter-spacing: 10px;
  width: 100%;
  height: 160px;
}

.section-title-days{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 85px;
  margin: 0;
  word-spacing: 110px;
  width: 100%;
  height: 85px;
}

.section-title-phrase{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 0;
  word-spacing: 20px;
  width: 100%;
}

.main-content-link {
  text-decoration: none;
}

.collage-container{
  display: flex;
  width: 100%;
}

.homepage-collage {
  width: 100%;
  max-width: 2000px;
}

.scrolling-text-container {
  width: 100%;
  overflow: hidden;
}
  
.scrolling-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 140px;
    font-size: 45px;
    text-align: center;
    margin: 0px;
    position: relative;
    animation: move-words 15s linear infinite;
    margin: 0;
    white-space: nowrap;
}

@keyframes move-words {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }

.three-image-tabs {
  display: flex;
  flex-direction: row;
  width: 100%
}

.three-image-tabs img{
  width: 100%;
  height: 100%;
}

.song-of-the-day {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  padding: 10px 0px 0px 0px;
  text-align: center;
  margin: 75px 0px 75px 0px
}

.music-video-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.music-video {
  width: 80%;
  height: 30%;
}

.spotify-bar-container {
  display: flex;
  justify-content: center;
}

.spotify-bar {
  padding: 75px 0px 0px 0px;
} 

.footer-container {
  background-color: black;
  text-align: center; 
  padding: 0px 0px 15px 0px;
}

.footer-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body{
  margin: 0;
}