/* you can put styles in here :) */

body {
  font-family: "Inter Tight", sans-serif;
  margin: 0
}

details {
  color: white;
}

.nav-container {
  color: white;
  background-color: black;
  width: auto;
  height: 45px;
  padding: 35px 45px 0px 0px;
  border: 1px none red;
}

.nav-container a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-container a:hover {
  color: orange;
}

.nav-container-img {
  margin: 0;
  height: 40px;
  width: 55px;
}

nav div {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.sitename-container {
  display: flex;
  border: blue 1px none;
  justify-content: left;
}

.main-content-link {
  text-decoration: none;
}

.collage-container {
  display: flex;
  width: 100%;
}

.homepage-collage {
  width: 100%;
  height: 45%;
}

.scrolling-text-container-homepage {
  width: 100%;
  overflow: hidden;
  background-color: black;
  font-family: Inter+Tight;
  font-weight: 700;
}

.scrolling-text-homepage {
  color: white;
  word-spacing: 140px;
  font-size: 45px;
  text-align: center;
  margin: 0px;
  position: relative;
  animation: move-words 15s linear infinite;
  margin: 0;
  white-space: nowrap;
}

@keyframes move-words {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

.three-image-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  transition: transform .2s; 
  margin: 0 auto;
}

.three-image-tabs img {
  width: 100%;
  height: 100%;
}

.three-image-tabs img:hover {
    transform: scale(1.15); 
    background-image: none;
  }
  
.main-content-container-discover-page {
  background-color: black;
  border: yellow 1px none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 0px;
}

  /* Used to enable scrolling */

.discover-container {
  border: rebeccapurple 1px none;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0px 0px 0px
}

.nrotw-title-one {
  color: white;
  font-family: "Inter Tight";
  font-weight: 250;
  font-style: italic;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 100px;
  margin: 0;
  width: 100%;
  height: 100px;
}

.nrotw-title-two {
  color: white;
  font-family: "Inter Tight";
  font-weight: 250;
  font-style: italic;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 100px;
  margin: 0;
  width: 100%;
  padding: 0px 0px 50px 0px
}

.nrotw-description {
  color: white;
  font-size: 25px;
  margin: 0;
  width: 100%;
  font-family: "Inter Tight";
  font-weight: 250;
}

.nrotw-area{
  border: none 1px red;
}

.nrotw-feature-area {
  border: none 1px blue;
  width: 26%;
}

.nrotw-feature {
  color: white;
  text-transform: uppercase;
  font-family: "Inter Tight";
  padding: 20px 0px 0px 40px;
  font-size: 25px;
  font-weight: 250;
  color: #00A651;
  margin: 0;
  height: 5px;
}

.artist-one {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 40px;
}

.artist-two {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 80px;
}

.artist-three {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 60px;
}

.artist-four {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 160px;
}

.artist-five {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 70px;
}

.artist-six {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 140px;
}

.discover-button {
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  border-color: white;
  width: 100px;
  height: 30px;
  font-family: "Inter Tight";
  font-weight: 250;
}

.discover-button:hover {
  background-color: orange;
}

.main-content-container {
  background-color: black;
}

.button-playlist {
  padding: 5px 0px 0px 190px;
}

.date {
  color: white;
  text-transform: uppercase;
  font-family: "Inter Tight";
  font-weight: 250;
  font-size: 60px;
  margin: 0;
  padding-top: 0px;
  padding-left: 40px;
}


.album-art {
  display: flex;
  border: 1px none orange;
  justify-content: center;
  margin: 0;
  width: 100%;
  gap: 33px;
  padding-top: 100px;
}

.album-image {
  width: 275px;
  height: 275px;
}
.album-image:hover{
transform: scale(1.10); 
background-image: none;
}

.album-descriptions-container {
  border: grey 1px none;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.album-title-area {
  border: yellow 1px none;
  display: flex;
  flex-direction: column;
  width: 274px;
}

.album-title-area h2 {
  color: white;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Inter Tight";
  text-align: center;
  height: 10px;
  font-style: italic;
}

.album-title-artist {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "Inter Tight";
  height: 10px;
  margin: 0;
}

.album-title-genre {
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: "Inter Tight";
  font-weight: 500;
}

.sotd-info {
  border: red 1px none;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 150px 0px 0px 0px;
  flex-direction: column;
}

.sotd-logo-container-left {
  display: flex;
  border: none 1px rosybrown;
  justify-content: center;
  margin: 0;
  background-image: url("Kevin.jpg");
  background-size: 1100px 700px;
  height: 600px;
  width: 1100px;
  align-items: center;
  margin-left: 100px;
}

.sotd-logo-container-right {
  display: flex;
  border: none 1px yellow;
  flex-direction: column;
}

.sotd-part-one {
  color: white;
  font-family: "Inter Tight";
  font-weight: 700;
  font-size: 70px;
  margin: 0;
  text-transform: uppercase;
}

.sotd-part-two {
  color: white;
  font-family: "Inter Tight";
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 17px;
  text-transform: uppercase;
}

.sotd-part-three {
  color: white;
  font-family: "Inter Tight";
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  height: 17px;
  padding: 0px 0px 0px 5px;
  text-transform: uppercase;
}

.sotd-part-four {
  color:white;
  font-family: "Inter Tight";
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}

.sotd-description-container {
  display: flex;
  border: 1px none olive;
  flex-direction: row;
  justify-content: space-around;
}


.song-of-the-day-description-left {
  border: 1px none burlywood;
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: left;
  margin: 0;
}

.song-of-the-day-description-right {
  border: 1px none lawngreen;
  display: flex;
  flex-direction: column;
  width: 450px;
  justify-content: left;
  padding-top: 25px;
}

.sotdl-one {
  color: white;
  font-family: "Inter Tight";
  font-weight: 600;
  margin: 0;
  font-size: 100px;
  height: 80px;
}

.sotdl-two {
  color: white;
  font-family: "Inter Tight";
  font-weight: 600;
  margin: 0;
  font-size: 100px;
  height: 200px;
}

.sotdl-three {
  color: white;
  font-family: "Inter Tight";
  font-weight: 300;
  font-size: 25px;
  margin: 0;
}

.sotdr {
  color: white;
  font-family: "Inter Tight";
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0px;
  text-justify: inter-word;
  text-align: left;
  font-size: 15px;
}

.sotdr-three {
  color: white;
  font-family: "Inter Tight";
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  height: 1px;
}

.sotdr-four {
  color: white;
  font-family: "Inter Tight";
  font-size: 20px;
  font-weight: 300;
}

.playlists-heading-container {
  color: white;
  font-family: "Inter Tight";
  border: yellow 1px none;
  padding-bottom: 150px;
  width: 100%;
  height: 60px;
  margin-top: 120px;
}

.playlists-heading-text {
  color: white;
  font-family: "Inter Tight";
  font-weight: 250;
  font-style: italic;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 110px;
  margin: 0;
  width: 100%;
  
}

.playlists-heading-text-two {
  color: white;
  font-size: 25px;
  margin: 0;
  width: 100%;
  font-family: "Inter Tight";
  font-weight: 250;
}

.playlists-heading-text-three {
  color: white;
  font-size: 25px;
  margin: 0;
  width: 100%;
  font-family: "Inter Tight";
  font-weight: 250;
}

.linked-playlists-container {
  display: flex;
  border: 1px none orange;
  justify-content: center;
  margin: 0;
  width: 100%;
  gap: 33px;
  margin-top: 20px;
}

.playlist-image {
  width: 250px;
  height: 250px;
}

.linked-playlists-container a{
  filter: none;
}

.linked-playlists-container a:hover{
  filter: sepia(100%);
}

.playlists-descriptions-container {
  border: grey 1px none;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
  padding-bottom: 40px;
}

.playlist-title-area-one {
  border: yellow 1px none;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.playlist-title-one {
  color: white;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Inter Tight";
  text-align: center;
  height: 10px;
  font-style: italic;
}

.playlist-title-area-two {
  border: lightcoral 1px none;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.playlist-title-two {
  color: white;
  font-size: 19px;
  font-family: "Inter Tight";
  text-align: center;
  height: 10px;
  font-style: italic;
}

.playlist-title-area-three {
  border: greenyellow 1px none;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.playlist-title-three {
  color: white;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Inter Tight";
  text-align: center;
  height: 10px;
  font-style: italic;
}

.playlist-caption {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "Inter Tight";
  height: 10px;
  margin: 0;
}

#main-content-container-appreciate-page {
  margin-top: 0px;
  background-color: black;
}

.appreciate-news-container {
  border: 1px none yellow;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.news-image {
  height: 450px;
  width: 650px;
  padding: 40px 0px 40px 0px
}

.news-text {
  border: 1px none green;
  margin-left: 60px;
  color: white;
  font-family: Inter+Tight;
  font-weight: 500;
}

.news-one {
  font-size:55px;
  margin: 0;
  padding-top: 23px;
  height: 60px;
}

.news-two {
  font-size: 55px;
  margin: 0;
  height: 70px;
}

.news-three {
  font-size: 30px;
}

.news-four {
  font-size: 15px;
}

.column-labels-container{
  border: 1px none grey;
  margin-top: 50px;
}

.column-labels{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 125px;
}

.label{
  color: white;
  border: 1px none gold;
  width: 297px;
  margin-bottom: 0px;
  font-size: 15px;
}

.column-container {
  display: flex;
  border: 1px none pink;
  flex-direction: column;
}

.column-images {
  display: flex;
  width: 100%;
  gap: 125px;
  justify-content: center;
}

.appreciate-images {
  height: 200px;
  width: 300px;
}

.column-container-text{
  border: 1px none green;
  display: flex;
  flex-direction: row;
  gap: 124px;
  justify-content: center;
  height: 190px;
}

.column-container-description {
  border: 1px none red;
  height: 180px;
}

.column-link{
  text-decoration-line:none;
}

.column-link:hover{
  text-decoration-line:underline;
  text-decoration-color: white;
  text-decoration-thickness: 1px;
}

.column-header{
  border:1px none blue;
  display: flex;
  flex-direction:column;
  width: 297px;
  margin:0;
}

.column-text{
  border:1px none white;
  display: flex;
  flex-direction:row;
  width: 297px;
  justify-content: space-between;
  margin-bottom: 0;
}

.column-title {
color: white;
font-size: 25px;
text-align: left;
margin: 0px;
}

.column-author {
  color: white;
  text-align: center;
}

.column-date {
  color: white;
  text-align: center;
}

#main-content-container-culture-page {
  margin-top: 0px;
  background-color: black;
}

.culture-container{
  border: 1px none yellow;
  display: flex;
}

.culture-top-image{
  height: 530px;
  width: 100%;
}

summary{
  color: white;
  font-size: 45px;
  display: flex;
  cursor: pointer;
  padding: 10px;
  width: 99%;
  justify-content: space-between;
  font-family: Inter+Tight;
  font-weight: 700;
}

summary:hover {
  color: black;
  background-color: pink;
}

.menu1{
background-color: #1a000a;
}

.menu2{
background-color:#26000f;
}

.menu3{
  background-color: #330014;
}

.menu4{
  background-color:#40001a;
  }

section div{
  font-size: 20px;
  color: white;
}

.left-page{
  border: 1px none blue;
  width: 33.1%;
  height: 100%;
  display:flex;
  flex-direction: row;
}

.accordian-container{
  border: 1px none orange;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thumbnails img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.thumb {
  width: 1px;
  position: absolute;
  height: 0;
  background: #000;
}

.slides {
  margin: 20px 10px 0px 10px;
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  width: 100%;
  height: 315px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  justify-content: center;
}

.slides > div {
  scroll-snap-align: start;
}

.slides img {
  width: 400px;
  object-fit: contain;
}

.slides::-webkit-scrollbar {
  display: none;
}

div h4{
  margin: 0;
  color: lightskyblue;
}

.orange h4{
color: orange;
}

.pink h4{
  color: pink;
  }
  
  .green h4{
    color: #0da651;
    }

.info{
  margin-bottom: 14px;
  margin-top: 0px;
  font-size: 15px;
}

.setlist{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.setlist:hover {
  color: orange;
}

hr {
  margin: 0px;
}
  
.advice-container {
  border: 1px none orange;
  display: flex;
  justify-content: center;
}

.advice-description{
  color: white;
  font-size: 40px;
  margin-left: 30px;
  font-family: "Inter Tight";
  font-weight: 700;
  width: 85%;
  text-align: center;
}

.profile-container{
  display: flex;
  flex-direction: row;
  border: 1px none red;
  justify-content: space-between;
}

.plus{
  margin-right: 75px;
}

.name{
  margin-left: 0;
}

.profile-image img{
  height: 600px;
  width: 600px;
  border: 1px none purple;
  display:flex;
  padding-left: 30px;
}

.profile-list{
  border: 1px none white;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin-left: 60px;
}

.profile-list h1{
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
}

.profile-advice {
  font-size: 40px;
  margin: 0;
  font-family: "Inter Tight";
  font-weight: 700;
}

.profile-advice-sub {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Inter Tight";
  font-weight: 300;
}

.profile-section {
  border: 1px none blue;
}

.journal-container {
  border: 1px none limegreen;
  display: flex;
  justify-content: center;
}

.journal-container img {
width: 85%;
height: 550px;
margin: 30px;
}

.journal-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  border: 1px none blue;
  justify-content: center;
  gap: 70px;
}

.journal-left {
border: 1px none red;
color: white;
width: 42%;
display: flex;
flex-direction: column;
}

.journal-left p {
  color: white;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Inter Tight";
  font-weight: 500;
  }

.journal-right {
color: white;
border: 1px none red;
width: 19%;
display: flex;
flex-direction: column;
}

.journal-right h1 {
margin: 0;
font-size: 50px;
margin-bottom: 10px;
font-family: "Inter Tight";
font-weight: 500;
  }

.journal-right p {
  color: white;
  margin: 0;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Inter Tight";
  font-weight: 300;
  }

.form-statement{
color: white;
font-size:30px;
padding-top: 60px;
display: flex;
justify-content: center;
font-family: "Inter Tight";
font-weight: 700;
}

.song-of-the-day {
  color: white;
  font-size: 40px;
  padding: 10px 0px 0px 0px;
  text-align: center;
  margin: 160px 0px 15px 0px;
  font-family: Inter+Tight;
  font-weight: 700;
}

.music-video-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
}

.music-video {
  width: 80%;
  height: 30%;
  margin: 0;
}

.spotify-bar-container {
  display: flex;
  justify-content: center;
}

.spotify-bar {
  padding: 75px 0px 0px 0px;
}

.footer-container {
  background-color: black;
  text-align: center;
  padding: 0px 0px 15px 0px;
  padding-top: 75px;
}

.footer-text {
  color: white;
}