/* you can put styles in here :) */

body {
  font-family: "Inter Tight", sans-serif;
  margin: 0
}

details {
  color: white;
}

.nav-container {
  color: white;
  background-color: black;
  width: auto;
  height: 45px;
  padding: 35px 45px 0px 0px;
  border: 1px solid red;
}

.nav-container a {
  color: white;
  text-decoration: solid;
  font-size: 20px;
}

.nav-container a:hover {
  color: orange;
}

.nav-container-img {
  margin: 0;
  height: 40px;
  width: 55px;
}

nav div {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}

.sitename-container {
  display: flex;
  border: blue 1px solid;
  justify-content: left;
}

.main-content-container-discover-page {
  background-color: black;
  border: yellow 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 0px;
}

  /* Used to enable scrolling */

.discover-container {
  border: rebeccapurple 1px solid;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0px 0px 0px
}

.nrotw-title-one {
  color: white;
  font-family: "Inter Tight";
  font-weight: 250;
  font-style: italic;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 100px;
  margin: 0;
  width: 100%;
  height: 100px;
}

.nrotw-title-two {
  color: white;
  font-family: "Inter Tight";
  font-weight: 250;
  font-style: italic;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 100px;
  margin: 0;
  width: 100%;
  padding: 0px 0px 75px 0px
}

.nrotw-description {
  color: white;
  font-size: 25px;
  margin: 0;
  width: 100%;
  font-family: "Inter Tight";
  font-weight: 250;
}

.nrotw-feature-area {
  border: solid 1px solid;
  width: 26%;
}

.nrotw-feature {
  color: white;
  text-transform: uppercase;
  font-family: "Inter Tight";
  padding: 20px 0px 0px 40px;
  font-size: 25px;
  font-weight: 250;
  color: #00A651;
  margin: 0;
  height: 5px;
}

.artist-one {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 40px;
}

.artist-two {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 40px;
}

.artist-three {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 40px;
}

.artist-four {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 40px;
}

.artist-five {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 40px;
}

.artist-six {
  color: white;
  font-family: "Inter Tight";
  font-size: 25px;
  font-weight: 250;
  height: 5px;
  padding: 0px 0px 0px 40px;
}

.discover-button {
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
  border-color: white;
  width: 100px;
  height: 30px;
  font-family: "Inter Tight";
  font-weight: 250;
}

.discover-button:hover {
  background-color: orange;
}


.main-content-container {
  background-color: black;
}

.button-playlist {
  padding: 5px 0px 0px 220px;
}

.date {
  color: white;
  text-transform: uppercase;
  font-family: "Inter Tight";
  font-weight: 250;
  font-size: 68px;
  margin: 0;
  padding: 0px 0px 0px 10px;
}

.album-art {
  display: flex;
  border: 1px solid orange;
  justify-content: center;
  margin: 0;
  width: 100%;
  gap: 33px;
  padding-top: 125px;
}

.album-image {
  width: 300px;
  height: 300px;
}

.album-descriptions-container {
  border: grey 1px solid;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 32px;
}

.album-title-area {
  border: yellow 1px solid;
  display: flex;
  flex-direction: column;
  width: 299px;
}

.album-title-area h2 {
  color: white;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Inter Tight";
  text-align: center;
  height: 10px;
  font-style: italic;
}

.album-title-artist {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "Inter Tight";
  height: 10px;
  margin: 0;
}

.album-title-genre {
  color: white;
  text-align: center;
  font-size: 12px;
  font-family: "Inter Tight";
  font-weight: 500;
}

.sotd-info {
  border: red 1px solid;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 150px 0px 0px 0px;
  flex-direction: column;
}

.sotd-logo-container-left {
  display: flex;
  border: solid 1px rosybrown;
  justify-content: center;
  margin: 0;
  background-image: url("mommaband.jpg");
  height: 600px;
  width: 1100px;
  align-items: center;
  margin-left: 100px;
}

.sotd-logo-container-right {
  display: flex;
  border: solid 1px yellow;
  flex-direction: column;
}

.sotd-part-one {
  color: white;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 70px;
  margin: 0;
  text-transform: uppercase;
}

.sotd-part-two {
  color: white;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 17px;
  text-transform: uppercase;
}

.sotd-part-three {
  color: white;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  height: 17px;
  padding: 0px 0px 0px 5px;
  text-transform: uppercase;
}

.sotd-part-four {
  color: white;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}

.sotd-description-container {
  display: flex;
  border: 1px solid olive;
  flex-direction: row;
  justify-content: center;
}

.song-of-the-day-description-right {
  border: lemonchiffon 1px solid;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.song-of-the-day-description-left {
  border: 1px solid burlywood;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: left;
  margin: 0;
}

.sotdl-one {
  color: white;
  font-family: "Inter Tight";
  font-weight: 500;
  margin: 0;
  font-size: 125px;
  height: 100px;
}

.sotdl-two {
  color: white;
  font-family: "Inter Tight";
  font-weight: 500;
  margin: 0;
  font-size: 125px;
  height: 130px;
}

.sotdl-three {
  color: white;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}

.song-of-the-day-description-right {
  border: 1px solid lawngreen;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: left;
  padding-top: 25px;
}

.sotdr {
  color: white;
  font-family: "Inter Tight";
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0px;
}


.sotdr-three {
  color: white;
  font-family: "Inter Tight";
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  height: 1px;
}

.sotdr-four {
  color: white;
  font-family: "Inter Tight";
  font-size: 20px;
  font-weight: 300;
}

.main-content-link {
  text-decoration: solid;
}

.collage-container {
  display: flex;
  width: 100%;
}

.homepage-collage {
  width: 100%;
  max-width: 2000px;
}

.scrolling-text-container-homepage {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.scrolling-text-homepage {
  color: white;

  word-spacing: 140px;
  font-size: 45px;
  text-align: center;
  margin: 0px;
  position: relative;
  animation: move-words 15s linear infinite;
  margin: 0;
  white-space: nowrap;
}

@keyframes move-words {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

.playlists {
  border: red 1px solid;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.playlists-heading-container {
  color: white;
  font-family: "Inter Tight";
  border: yellow 1px solid;
  padding-bottom: 150px;
  width: 1300px;
  padding-top: 150px;
}

.playlists-heading-text {
  color: white;
  font-family: "Inter Tight";
  font-weight: 250;
  font-style: italic;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 110px;
  margin: 0;
  width: 100%;
  height: 200px;
}

.playlists-heading-text-two {
  color: white;
  font-size: 25px;
  margin: 0;
  width: 100%;
  font-family: "Inter Tight";
  font-weight: 250;
}

.playlists-heading-text-three {
  color: white;
  font-size: 25px;
  margin: 0;
  width: 100%;
  font-family: "Inter Tight";
  font-weight: 250;
}

.linked-playlists-container {
  display: flex;
  border: 1px solid orange;
  justify-content: center;
  margin: 0;
  width: 100%;
  gap: 33px;
}

.playlist-image {
  width: 250px;
  height: 250px;
}

.playlists-descriptions-container {
  border: grey 1px solid;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
  padding-bottom: 40px;
}

.playlist-title-area-one {
  border: yellow 1px solid;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.playlist-title-one {
  color: white;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Inter Tight";
  text-align: center;
  height: 10px;
  font-style: italic;
}

.playlist-title-area-two {
  border: lightcoral 1px solid;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.playlist-title-two {
  color: white;
  font-size: 19px;
  font-family: "Inter Tight";
  text-align: center;
  height: 10px;
  font-style: italic;
}

.playlist-title-area-three {
  border: greenyellow 1px solid;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.playlist-title-three {
  color: white;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Inter Tight";
  text-align: center;
  height: 10px;
  font-style: italic;
}

.playlist-caption {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "Inter Tight";
  height: 10px;
  margin: 0;
}

#main-content-container-appreciate-page {
  margin-top: 0px;
  background-color: black;
}

.appreciate-news-container {
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

.news-image {
  height: 450px;
  width: 650px;
  padding: 40px 0px 40px 100px
}

.news-text {
  border: 1px solid green;
  padding-left: 20px;
  margin-left: 80px;
}

.news-one {
  font-size: 70px;
  margin: 0;
  padding-top: 23px;
  height: 60px;
}

.news-two {
  font-size: 70px;
  margin: 0;
  height: 70px;
}

.news-three {
  font-size: 30px;
}

.news-four {
  font-size: 15px;
}

.page-description-container {
  border: 1px solid blue;
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.page-description {
color: white;
font-size: 50px;
max-width: 1300px;
border: 1px solid orange;
}

.column-labels-container{
  border: 1px solid grey;
  margin-top: 50px;
}

.column-labels{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 125px;
}

.label{
  color: white;
  border: 1px solid gold;
  width: 297px;
  margin-bottom: 0px;
}

.column-container {
  display: flex;
  border: 1px solid pink;
  flex-direction: column;
}

.column-images {
  display: flex;
  width: 100%;
  gap: 125px;
  justify-content: center;
}

.appreciate-images {
  height: 200px;
  width: 300px;
}

.column-container-text{
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  gap: 124px;
  justify-content: center;
  height: 190px;
}

.column-container-description {
  border: 1px solid red;
  height: 180px;
}

.column-link{
  text-decoration-line:solid;
}

.column-link:hover{
  text-decoration-line:underline;
  text-decoration-color: white;
  text-decoration-thickness: 1px;
}

.column-header{
  border:1px solid blue;
  display: flex;
  flex-direction:column;
  width: 297px;
  margin:0;
}

.column-text{
  border:1px solid white;
  display: flex;
  flex-direction:row;
  width: 297px;
  justify-content: space-between;
  margin-bottom: 0;
}

.column-title {
color: white;
font-size: 25px;
text-align: left;
margin: 0px;
}

.column-author {
  color: white;
  text-align: center;
}

.column-date {
  color: white;
  text-align: center;
}


#main-content-container-culture-page {
  margin-top: 0px;
  background-color: black;
}

.culture-container{
  border: 1px solid yellow;
  display: flex;
}

.culture-top-image{
  height: 650px;
  width: 100%;
}

summary{
  color: black;
  background-color: yellow;
  font-size: 55px;
  display: block;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

details div{
  font-size: 20px;
  color: white;
}


.three-image-tabs {
  display: flex;
  flex-direction: row;
  width: 100%
}

.three-image-tabs img {
  width: 100%;
  height: 100%;
}

.song-of-the-day {
  color: white;

  font-size: 80px;
  padding: 10px 0px 0px 0px;
  text-align: center;
  margin: 75px 0px 75px 0px
}

.music-video-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.music-video {
  width: 80%;
  height: 30%;
}

.spotify-bar-container {
  display: flex;
  justify-content: center;
}

.spotify-bar {
  padding: 75px 0px 0px 0px;
}

.footer-container {
  background-color: black;
  text-align: center;
  padding: 0px 0px 15px 0px;
}

.footer-text {
  color: white;
}