<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'VibeVault | Appreciate' %}
  <body class="home">
    {% include 'header' %}
    <!--Main Headline/News Story-->
    <main id="main-content-container-appreciate-page">
      <section class="appreciate-news-container">
        <img class="news-image" src="/assets/JMSN.jpg"/> 
      <div class="news-text">
        <p class="news-one">In Conversation:</p>
        <p class="news-two">JMSN</p>
        <p class="news-three">Exploring his new album 'Soft Spot'...</p>
        <p class="news-four">Words: Jazmin Kylene</p>
      </div>
      </section>

      <div class="news-description-container">
        <p class="news-description">Step into the world of music where we bring 
          you closer to your favorite artists through in-depth interviews, 
          music videos, and a deep dive into their creative process.
          It's more than just news—it's a celebration of musical talent.</p>
      </div>

  <!--Article One--> 
      <section class="article-one-container">
        <img class="news-image-one" src="/assets/concreteboysnews.jpg"/>
        <div class="wordmark">
          <p>Vibe Vault</p>
        </div>
        <p class="article-text">Meet the Members of Lil Yachty’s Concrete Boys Crew</p>
        <p class="article-author">by Jordan Rose</p>
        <p class="article-date">April 4th 2024</p>
      </section>

       <!--Article Two--> 
      <section class="article-two-container">
        <img class="news-image-two" src="/assets/dominicfikenews.jpg"/>
        <div class="article-text">
          <p>Dominic Fike: 'Sunburn', Family, euphoria & Fame | Apple Music</p>
        </div>
        <p class="article-author">by Zane Lowe</p>
        <p class="article-date">July 5th 2023</p>
      </section>
    
  <!--Article Three--> 
      <section class="article-three-container">
        <img class="news-image-three" src="/assets"/>
        <div class="article-text">
          <p>article headline</p>
        </div>
      </section>

  <!--Article Four--> 
      <section class="article-four-container">
        <img class="news-image-four" src="/assets/"/>
        <div class="article-text">
          <p>article headline</p>
        </div>
      </section>

<!--Article Five--> 
      <section class="article-five-container">
        <img class="news-image-five" src="/assets/"/>
        <div class="article-text">
          <p>article headline</p>
        </div>
      </section>

      </section>
      


    </main>
    {% include 'footer' %}
  </body>
</html>
