<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'VibeVault | Appreciate' %}
  <body class="home">
    {% include 'header' %}
    <main id="main-content-container-appreciate-page">
      <section class="appreciate-news-container">
        <img class="news-image" src="/assets/JMSN.jpg"/> 
      <div class="news-text">
        <p class="news-one">In Conversation:</p>
        <p class="news-two">JMSN</p>
        <p class="news-three">Exploring his new album 'Soft Spot'...</p>
        <p class="news-four">Words: Jazmin Kylene</p>
      </div>
      </section>
      


    </main>
    {% include 'footer' %}
  </body>
</html>
