<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'VibeVault | Appreciate' %}
  <body class="home">
    {% include 'header' %}
    <!--Main Headline/News Story-->
    <main id="main-content-container-appreciate-page">
      <section class="appreciate-news-container">
        <img class="news-image" src="/assets/JMSN.jpg"/> 
      <div class="news-text">
        <p class="news-one">In Conversation:</p>
        <p class="news-two">JMSN</p>
        <p class="news-three">Exploring his new album 'Soft Spot'...</p>
        <p class="news-four">Words: Jazmin Kylene</p>
      </div>
      </section>

      <div class="news-description-container">
        <p class="news-description">Step into the world of music where we bring 
          you closer to your favorite artists through in-depth interviews, 
          music videos, and a deep dive into their creative process.
          It's more than just news—it's a celebration of musical talent.</p>
      </div>

<!--Column Images-->
    <section class="column-container">
<div class="column-images">
  <img class="appreciate-images" src="/assets/concreteboysnews.jpg"/>
  <img class="appreciate-images" src="/assets/concreteboysnews.jpg"/>
  <img class="appreciate-images" src="/assets/concreteboysnews.jpg"/>
</div>
    </section>

<!--Column Descriptions-->
    <section class="column-container-text">
    <section class="column-container-description">
    <div class="column-header">
      <h2 class="column-title">2 hands 2 eyes 10 whips/rent</h2>
    </div>
    <div class="column-text">
      <p class="column-author">Concrete Boys</p>
      <p class="column-date">Rap</p>
    </div>
    </section>
    <section class="column-container-description">
    <div class="column-header">
      <h2 class="column-title">2 hands 2 eyes 10 whips/rent</h2>
    </div>
    <div class="column-text">
      <p class="column-author">Concrete Boys</p>
      <p class="column-date">Rap</p>
    </div>
    </section>
    <section class="column-container-description">
    <div class="column-header">
      <h2 class="column-title">2 hands 2 eyes 10 whips/rent</h2>
    </div>
    <div class="column-text">
      <p class="column-author">Concrete Boys</p>
      <p class="column-date">Rap</p>
    </div>
    </section>
    
    

       
   
      


    </main>
    {% include 'footer' %}
  </body>
</html>
