<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'VibeVault | Culture' %}

<body class="home">
  <link rel="stylesheet" href="../assets/accordion.css">
  <script src="../assets/accordion.js"></script>
  {% include 'header' %}
  <main id="main-content-container-culture-page">

    <!--Top Page Image-->
    <section class="culture-container">
    <img class="culture-top-image" src="/assets/concert.jpg" />
    </section>

    <!--Accordian 1-->
    <!--Left Row -->
    <details>
      <summary class="menu1">Personal Experiences</summary>
      <section class="accordian-container">
      <section class="left-page">
        <div class="thumbnails"></div>
          <div class="thumb"></div>
        </div>
        <div class="slides">
          <div><img src="/assets/domu.jpg" /></div>
          <div><img  src="/assets/remiu.jpg" /></div>
          <div><img src="/assets/charlieu.jpg" /></div>
          <div><img src="/assets/jmsnu.jpg" /></div>
          <div><img  src="/assets/jamesu.jpg" /></div>
          <div><img src="/assets/jawnyu.jpg" /></div>
          <div><img src="/assets/bristonu.jpg" /></div>
          <div><img src="/assets/mossu.jpg" /></div>
          <div><img src="/assets/omaru.jpg" /></div>
      </div>
      </div>
      </section>

<!--Middle Row -->
      <section class="left-page">
        <div class="thumbnails"></div>
          <div class="thumb"></div>
        </div>
        <div class="slides">
          <div>
            <h4>Artist + Opener</h4>
            <p class="info">Dominic Fike + Hether</p>
            <h4>Venue</h4>
            <p class="info">Prospect Park - Brooklyn, NY</p>
            <h4>Audience</h4>
            <p class="info">7/10 - pushing is not cool</p>
            <h4>Setlist</h4>
            <a class="setlist"href="https://open.spotify.com/playlist/6FEo2TDpNIMwUbGtyILp4A?si=d7e1bcea5fee46ae target="_blank">
            <p class="info">Playlist</p>
            </a>
            <h4>Vibes</h4>
            <p class="info">9/10 - will go again, anywhere but NY </p>
          </div>
          <hr>

          <div class="green">
          <h4>Artist + Opener</h4>
          <p class="info">Remi Wolf + Jordana</p>
          <h4>Venue</h4>
          <p class="info">Terminal 5 - New York, NY</p>
          <h4>Audience</h4>
          <p class="info">10/10 - enjoyed from the balcony</p>
          <h4>Setlist</h4>
          <a class="setlist"href="https://open.spotify.com/playlist/6FEo2TDpNIMwUbGtyILp4A?si=d7e1bcea5fee46ae target="_blank">
          <p class="info">Playlist</p>
          </a>
          <h4>Vibes</h4>
          <p class="info">10/10 - SO COLORFUL!  </p>
          </div>
          <hr>

          <div class="pink">
          <h4>Artist + Opener</h4>
          <p class="info">Charlie Burg + The Blue Wave Band</p>
          <h4>Venue</h4>
          <p class="info">The Westscott - Syracuse, NY</p>
          <h4>Audience</h4>
          <p class="info">10/10 - intimate and energetic</p>
          <h4>Setlist</h4>
          <a class="setlist"href="https://open.spotify.com/playlist/6FEo2TDpNIMwUbGtyILp4A?si=d7e1bcea5fee46ae target="_blank">
          <p class="info">Playlist</p>
          </a>
          <h4>Vibes</h4>
          <p class="info">10/10 - groovy </p>
          </div>
          <hr>

          <div class="orange">
          <h4>Artist + Opener</h4>
          <p class="info">JMSN</p>
          <h4>Venue</h4>
          <p class="info">Prospect Park - Brooklyn, NY</p>
          <h4>Audience</h4>
          <p class="info">10/10 - respectful and lively</p>
          <h4>Setlist</h4>
          <a class="setlist"href="https://open.spotify.com/playlist/6FEo2TDpNIMwUbGtyILp4A?si=d7e1bcea5fee46ae target="_blank">
          <p class="info">Playlist</p>
          </a>
          <h4>Vibes</h4>
          <p class="info">10/10 - A lot of dancing and strobe lights </p>
          </div>
          <hr>

          <div>
          <h4>Artist + Opener</h4>
          <p class="info">James Ivy</p>
          <h4>Venue</h4>
          <p class="info">Bowery Ballroom - New York, NY</p>
          <h4>Audience</h4>
          <p class="info">8/10 - why do so many tall people listen to him?</p>
          <h4>Setlist</h4>
          <a class="setlist"href="https://open.spotify.com/playlist/6FEo2TDpNIMwUbGtyILp4A?si=d7e1bcea5fee46ae target="_blank">
          <p class="info">Playlist</p>
          </a>
          <h4>Vibes</h4>
          <p class="info">10/10 - jumped so much, not just to see but for fun! </p>
          </div>
          <hr>

          <div class="green">
          <h4>Artist</h4>
          <p class="info">JAWNY + Wallice</p>
          <h4>Venue</h4>
          <p class="info">Baby's All Right - New York, NY</p>
          <h4>Audience</h4>
          <p class="info">9/10 - energetic </p>
          <h4>Setlist</h4>
          <a class="setlist"href="https://open.spotify.com/playlist/6FEo2TDpNIMwUbGtyILp4A?si=d7e1bcea5fee46ae target="_blank">
          <p class="info">Playlist</p>
          </a>
          <h4>Vibes</h4>
          <p class="info">9/10 - "I Take It Back" live is too good </p>
          </div>
          <hr>

          <div class="pink">
          <h4>Artist</h4>
          <p class="info">Briston Maroney + Pheobe Go</p>
          <h4>Venue</h4>
          <p class="info">Webster Hall - New York, NY</p>
          <h4>Audience</h4>
          <p class="info">4/10 - people like to push for some reason</p>
          <h4>Setlist</h4>
          <a class="setlist"href="https://open.spotify.com/playlist/6FEo2TDpNIMwUbGtyILp4A?si=d7e1bcea5fee46ae target="_blank">
          <p class="info">Playlist</p>
          </a>
          <h4>Vibes</h4>
          <p class="info">5/10 - Love Briston, the vibe was not it tho </p>
          </div>
          <hr>

          <div class="orange">
          <h4>Artist + Opener</h4>
          <p class="info">The Moss + The Hails</p>
          <h4>Venue</h4>
          <p class="info">Funk N Waffles - Syracuse, NY</p>
          <h4>Audience</h4>
          <p class="info">10/10 - intimate and chill</p>
          <h4>Setlist</h4>
          <a class="setlist"href="https://open.spotify.com/playlist/6FEo2TDpNIMwUbGtyILp4A?si=d7e1bcea5fee46ae target="_blank">
          <p class="info">Playlist</p>
          </a>
          <h4>Vibes</h4>
          <p class="info">3/10 - they cancled lol</p>
          </div>
          <hr>

          <div>
          <h4>Artist + Opener</h4>
          <p class="info">Omar Apollo + Ravyn Lenae</p>
          <h4>Venue</h4>
          <p class="info">Kings Theater - Brooklyn, NY</p>
          <h4>Audience</h4>
          <p class="info">8/10 - I had no idea people stand in seated chairs</p>
          <h4>Setlist</h4>
          <a class="setlist"href="https://open.spotify.com/playlist/6FEo2TDpNIMwUbGtyILp4A?si=d7e1bcea5fee46ae target="_blank">
          <p class="info">Playlist</p>
          </a>
          <h4>Vibes</h4>
          <p class="info">10/10 - Omar is tall and glittery </p>
          </div>
          <hr>
      </div>
      </div>
      </section>

<!--Right Row -->
      <section class="left-page">
        <div class="thumbnails"></div>
          <div class="thumb"></div>
        </div>
        <div class="slides">
          <div><img  src="/assets/domconcert.jpg" style="height: 302px;" /></div>
          <div><img src="/assets/remiconcert.jpg" /></div>
          <div><img  src="/assets/charlieconcert.jpg" /></div>
          <div><img  src="/assets/jmsnconcert.jpg" /></div>
          <div><img  src="/assets/jamesconcert.jpg" style="padding-bottom: 30px;"/></div>
          <div><img  src="/assets/jawnyconcert.jpg" /></div>
          <div><img src="/assets/bristonconcert.jpg" /></div>
          <div><img src="/assets/mossconcert.jpg" /></div>
          <div><img src="/assets/omarconcert.jpg" /></div>
      </div>
      </div>
      </section>

      </section>

      <script src="script.js"></script>
      
    </details>

    <!--Accordian 2-->
    <details>
      <summary class="menu3">Concert Advice</summary>
      <section class="advice-container">
        <p class="advice-description"> Concerts offer some of the most memorable experiences, 
        whether they leave a lasting impression for positive or 
        negative reasons. Here are some tid bits from friends.
        </p>
      </section>

      <section class="profile-container">
      <div>
        <img class="profile-image" src="/assets/fprint-min.png"/>
      </div>
      <div>
        <p class="profile-list">List</p>
      </div>
      </section>

      <section class="profile-container">
      <div>
        <img class="profile-image" src="/assets/lprint-min.png"/>
      </div>
      <div>
        <p class="profile-list">List</p>
      </div>
      </section>

      <section class="profile-container">
      <div>
        <img class="profile-image" src="/assets/jprint-min.png"/>
      </div>
      <div>
        <p class="profile-list">List</p>
      </div>
      </section>

      <section class="profile-container">
      <div>
        <img class="profile-image" src="/assets/dprint-min.png"/>
      </div>
      <div>
        <p class="profile-list">List</p>
      </div>
      </section>

      <section class="profile-container">
      <div>
        <img class="profile-image" src="/assets/zprint-min.png"/>
      </div>
      <div>
        <p class="profile-list">List</p>
      </div>
      </section>

      <section class="profile-container">
      <div>
        <img class="profile-image" src="/assets/japrint-min.png"/>
      </div>
      <div>
        <p class="profile-list">List</p>
      </div>
      </section>

      <section class="profile-container">
      <div>
        <img class="profile-image" src="/assets/sprint-min.png"/>
      </div>
      <div>
        <p class="profile-list">List</p>
      </div>
      </section>
    </details>

    <!--Accordian 3-->
    <details>
      <summary class="menu4">Journal</summary>
      <div>
        Content
        Content
        Content
        Content
      </div>
    </details>

    <!--Accordian 4-->
    <details>
      <summary class="menu6">What's Your Story?</summary>
      <div>
        Content
        Content
        Content
        Content
      </div>
    </details>

  
  </main>
  {% include 'footer' %}
</body>

</html>