<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'VibeVault | Culture' %}

<body class="home">
  <link rel="stylesheet" href="../assets/accordion.css">
  <script src="../assets/accordion.js"></script>
  {% include 'header' %}
  <main id="main-content-container-culture-page">

    <!--Top Page Image-->
    <section class="culture-container">
    <img class="culture-top-image" src="/assets/concert.jpg" />
    </section>

    <!--Accordian 1-->
    <details>
      <summary>What to expect at a concert</summary>
      <div>
        Content
      </div>
    </details>

    <!--Accordian 2-->
    <details>
      <summary>My experiences</summary>
      <div>
        Content
        Content
        Content
        Content
      </div>
    </details>

    <!--Accordian 3-->
    <details>
      <summary>My experiences</summary>
      <div>
        Content
        Content
        Content
        Content
      </div>
    </details>

    <!--Accordian 4-->
    <details>
      <summary>My experiences</summary>
      <div>
        Content
        Content
        Content
        Content
      </div>
    </details>
  </main>
  {% include 'footer' %}
</body>

</html>