<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'VibeVault | Culture' %}

<body class="home">
  <link rel="stylesheet" href="../assets/accordion.css">
  <script src="../assets/accordion.js"></script>
  {% include 'header' %}
  <main id="main-content-container-culture-page">

    <!--Top Page Image-->
    <section class="culture-container">
    <img class="culture-top-image" src="/assets/concert.jpg" />
    </section>

    <!--Scrolling Text-->
<div class="scrolling-text-container-culture">
  <p class="scrolling-text-culture">
  Join the Jam: Share Your Experiences!
  </p>
</div>


    <!--Accordian 1-->
    <!--Left Row -->
    <details>
      <summary class="menu1">Personal Experiences</summary>
      <section class="accordian-container">
      <section class="left-page">
        <div class="thumbnails"></div>
          <div class="thumb"></div>
        </div>
        <div class="slides">
          <div><img class="div-image" src="/assets/domu.jpg" /></div>
          <div><img class="div-image" src="/assets/remiu.jpg" /></div>
          <div><img class="div-image" src="/assets/charlieu.jpg" /></div>
          <div><img class="div-image" src="/assets/jmsnu.jpg" /></div>
          <div><img class="div-image" src="/assets/jamesu.jpg" /></div>
          <div><img class="div-image" src="/assets/jawnyu.jpg" /></div>
          <div><img class="div-image" src="/assets/bristonu.jpg" /></div>
          <div><img class="div-image" src="/assets/mossu.jpg" /></div>
      </div>
      </div>
      </section>

<!--Middle Row -->
      <section class="left-page">
        <div class="thumbnails"></div>
          <div class="thumb"></div>
        </div>
        <div class="slides">
          <div>
            <h4>Artist</h4>
            <p>Dominic Fike</p>
            <h4>Venue</h4>
            <p>Prospect Park - Brookyln, NY</p>
            <h4>Audience</h4>
            <p>7/10 - pushing is not cool</p>
            <h4>Setlist</h4>
            <div class="button-setlist">
            <a href="https://open.spotify.com/playlist/3dW4GHeKD8MIXJn9Gt74ic?si=9b9310576d6a465b" target="_blank">
            <button class="discover-button">Setlist</button>
            </a>
            </div>
            <p>Dominic Fike</p>
            <h4>Vibes</h4>
            <p>9/10 - will go again, anywhere but NY </p>
          </div>
          <div><img class="div-image" src="/assets/remiu.jpg" /></div>
          <div><img class="div-image" src="/assets/charlieu.jpg" /></div>
          <div><img class="div-image" src="/assets/jmsnu.jpg" /></div>
          <div><img class="div-image" src="/assets/jamesu.jpg" /></div>
          <div><img class="div-image" src="/assets/jawnyu.jpg" /></div>
          <div><img class="div-image" src="/assets/bristonu.jpg" /></div>
          <div><img class="div-image" src="/assets/mossu.jpg" /></div>
      </div>
      </div>
      </section>

<!--Right Row -->
      <section class="left-page">
        <div class="thumbnails"></div>
          <div class="thumb"></div>
        </div>
        <div class="slides">
          <div><img class="div-image" src="/assets/domu.jpg" /></div>
          <div><img class="div-image" src="/assets/remiu.jpg" /></div>
          <div><img class="div-image" src="/assets/charlieu.jpg" /></div>
          <div><img class="div-image" src="/assets/jmsnu.jpg" /></div>
          <div><img class="div-image" src="/assets/jamesu.jpg" /></div>
          <div><img class="div-image" src="/assets/jawnyu.jpg" /></div>
          <div><img class="div-image" src="/assets/bristonu.jpg" /></div>
          <div><img class="div-image" src="/assets/mossu.jpg" /></div>
      </div>
      </div>
      </section>

      </section>

      <script src="script.js"></script>
      
    </details>

    <!--Accordian 2-->
    <details>
      <summary class="menu3">Concert Advice</summary>
      <div>
        Content
        Content
        Content
        Content
      </div>
    </details>

    <!--Accordian 3-->
    <details>
      <summary class="menu4">Journal</summary>
      <div>
        Content
        Content
        Content
        Content
      </div>
    </details>

    <!--Accordian 4-->
    <details>
      <summary class="menu5">Music Festivals</summary>
      <div>
        Content
        Content
        Content
        Content
      </div>
    </details>

    <!--Accordian 5-->
    <details>
      <summary class="menu6">What's Your Story</summary>
      <div>
        Content
        Content
        Content
        Content
      </div>
    </details>

  
  </main>
  {% include 'footer' %}
</body>

</html>