<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'VibeVault | Discover' %}
  <body class="home">
    {% include 'header' %}
    <main class="main-content-container-discover-page">

  <!--New Releases of the Week-->
  <section class="new-releases-of-the-week-container">
    <div class="section-title-area">
      <h2 class="section-title-one">New Releases Of</h2>
      <h2 class="section-title-two">The Week</h2>
      <p class="section-description">discover tracks and</p>
      <p class="section-description">albums new to the music scene</p>
    </div>
    <div class="section-feature-area"> 
      <h6 class="section-feature">featuring</h6>
      <p class="artist-one">Charlie XCX</p>
      <p class="artist-two">Concrete Boys</p>
      <p class="artist-three">Doja Cat</p>
      <p class="artist-four">Lizzy McAlpine</p>
      <p class="artist-five">Omar Apollo</p>
      <p class="artist-six">ALX</p>
      <p class="artist-seven">Orville Peck</p>
    

  <!--Button-->
    <div class="button-playlist">
        <a href="https://open.spotify.com/playlist/3dW4GHeKD8MIXJn9Gt74ic?si=9b9310576d6a465b" target="_blank">
          <button>Playlist</button>
        </a>
    </div>
    <p class="date">april 1-8</p>
    </div>
    </section>

<!--Albums-->
    <section class="song-number-one">
<div class="song-number-one-album">
  <img class="album-image" src="/assets/concreteboys.jpg"/>
  <img class="album-image" src="/assets/charliexcx.jpg"/>
  <img class="album-image" src="/assets/dojacat.jpg"/>
  <img class="album-image" src="/assets/lizymcalpine.jpg"/>
</div>
    </section>


<!--Album Descriptions-->
    <section class="album-descriptions-container">
    <div class="album-title-area-one">
      <h2 class="section-title-song">2 hands 2 eyes 10 whips/rent</h2>
      <p class="section-title-artist">Concrete Boys</p>
      <p class="section-title-genre">Rap</p>
    </div>
    <div class="album-title-area-two">
      <h2 class="section-title-song">B2b</h2>
      <p class="section-title-artist">Charli XCX</p>
      <p class="section-title-genre">Electronic</p>
    </div>
    <div class="album-title-area-three">
      <h2 class="section-title-song">urrrge!!!!!!!!!!</h2>
      <p class="section-title-artist">Doja Cat, A$AP Rocky</p>
      <p class="section-title-genre">Pop Rap</p>
    </div>
    <div class="album-title-area-four">
      <h2 class="section-title-song">The Elevator</h2>
      <p class="section-title-artist">Lizzy McAlpine</p>
      <p class="section-title-genre">Indie</p>
    </div>
    </section>

<!--Song Of The Week Image And Workmark-->  
    <section class="song-of-the-day-info">
     <div class="sotd-title-container">
      <p class="sotd-title-one">Song</p>
      <div class="sotd-title-container-two">
      <p class="sotd-title-two">of</p>
      <p class="sotd-title-three">the</p>
      <p class="sotd-title-four">day</p>
      </div>
    </div>
    <!--Song Of The Week Band Description-->  
    <div class="sotd-container">
      <div class="song-of-the-day-description-left">
      <p class="sotdl-one">MOM</p>
      <p class="sotdl-two">MA</p>
      <p class="sotdl-three">Rock Band</p>
      </div>
        <div class="song-of-the-day-description-right">
      <p class="sotdr-one">Discover the raw, unapologetic sound of Momma, 
        the electrifying rock band from Los Angeles. Led by Etta Friedman 
        and Allegra Weingarten, Momma blends classic rock influences with 
        modern indie vibes, creating a sound that's both nostalgic and fresh.
      </p>
      <p class="sotdr-two">Dive into their music and explore themes of love, 
        loss, and self-discovery through their gritty guitars and soulful lyrics.
        Momma is not just a band; they're a force to be reckoned with in the world 
        of rock music.
      </p>
      <p class="sotdr-three">Newest Album</p>
      <p class="sotdr-four">Houshold Name (2022)</p>
        </div>
      </div>
    </div>
    </section>
  </div>

<!--Playlists-->
<section class="playlists">
  <div class="playlists-heading-container">
    <p class="playlists-heading-text">Need new music?</p>
    <p class="playlists-heading-text-two">Find your vibe inside these curated playlists! </p>
    <p class="playlists-heading-text-three">You never know what you could discover.</p>
  </div>

  <!--Linked Playlists-->
    <div class="linked-playlists-container">
      <img class="playlist-image" src="/assets/concreteboys.jpg"/>
      <img class="playlist-image" src="/assets/charliexcx.jpg"/>
      <img class="playlist-image" src="/assets/dojacat.jpg"/>
    </div>
  
    <!--Playlist Descriptions-->
        <section class="playlists-descriptions-container">
        <div class="playlist-title-area-one">
          <h2 class="playlist-title-one">Title 1</h2>
          <p class="playlist-caption">Caption 1</p>
        </div>
        <div class="playlist-title-area-two">
          <h2 class="playlist-title-two">Title 2</h2>
          <p class="playlist-caption">Caption 2</p>
        </div>
        <div class="playlist-title-area-three">
          <h2 class="playlist-title-three">Title 3</h2>
          <p class="playlist-caption">Caption 3</p>
        </div>
        </section>

        <!--Linked Playlists-->
    <div class="linked-playlists-container">
      <img class="playlist-image" src="/assets/concreteboys.jpg"/>
      <img class="playlist-image" src="/assets/charliexcx.jpg"/>
      <img class="playlist-image" src="/assets/dojacat.jpg"/>
    </div>
  
    <!--Playlist Descriptions-->
        <section class="playlists-descriptions-container">
        <div class="playlist-title-area-one">
          <h2 class="playlist-title-one">Title 1</h2>
          <p class="playlist-caption">Caption 1</p>
        </div>
        <div class="playlist-title-area-two">
          <h2 class="playlist-title-two">Title 2</h2>
          <p class="playlist-caption">Caption 2</p>
        </div>
        <div class="playlist-title-area-three">
          <h2 class="playlist-title-three">Title 3</h2>
          <p class="playlist-caption">Caption 3</p>
        </div>
        </section>
  </section>
  </section>
     

    </main>
    {% include 'footer' %}
  </body>
</html>
