<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'VibeVault | Discover' %}
  <body class="home">
    {% include 'header' %}
    <main class="main-content-container-discover-page">

  <!--Sitename + Link to Homepage-->
  <div class="sitename-container">
      <a class="main-content-link" href="/homepage"> 
        <h1 class="main-content-text-discover-page" >Vibe Vault</h1>
      </a>
  </div>

  <!--New Releases of the Week-->
  <section class="calendar-container">
    <div class="section-title-area">
      <h2 class="section-title-month">apr</h2>
      <p class="section-title-days">1 - 8</p>
      <p class="section-title-phrase">New Releases Of The Week</p>

    </div>

  </section>
     


    </main>
    {% include 'footer' %}
  </body>
</html>
