<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'VibeVault | Discover' %}
  <body class="home">
    {% include 'header' %}
    <main class="main-content-container-discover-page">

  <!--Sitename + Link to Homepage-->
  <div class="sitename-container">
      <a class="main-content-link" href="/homepage"> 
        <h1 class="main-content-text-discover-page" >Vibe Vault</h1>
      </a>
  </div>

  <!--New Releases of the Week-->
      <!--Month/Date/Phrase-->
  <section class="calendar-container">
    <div class="section-title-area">
      <h2 class="section-title-month">apr</h2>
      <p class="section-title-days">1 - 8</p>
      <p class="section-title-phrase">New Releases Of The Week</p>
    </div>
    </section>

<!--Song #1-->
    <section class="song-number-one">
    <div class="section-title-area">
      <h2 class="section-title-month">apr</h2>
      <p class="section-title-days">1 - 8</p>
      <p class="section-title-phrase">New Releases Of The Week</p>
    </div>
    </section>

<!--Song #2-->
    <section class="song-number-two">
    <div class="section-title-area">
      <h2 class="section-title-month">apr</h2>
      <p class="section-title-days">1 - 8</p>
      <p class="section-title-phrase">New Releases Of The Week</p>
    </div>
    </section>

<!--Song #3-->
    <section class="song-number-three">
    <div class="section-title-area">
      <h2 class="section-title-month">apr</h2>
      <p class="section-title-days">1 - 8</p>
      <p class="section-title-phrase">New Releases Of The Week</p>
    </div>
    </section>

<!--Song #4-->
    <section class="song-number-four">
    <div class="section-title-area">
      <h2 class="section-title-month">apr</h2>
      <p class="section-title-days">1 - 8</p>
      <p class="section-title-phrase">New Releases Of The Week</p>
    </div>
    </section>

<!--Song Of The Week Info-->  
    <section class="song-of-the-week-info">
    <div class="section-title-area">
      <h2 class="section-title-month">apr</h2>
      <p class="section-title-days">1 - 8</p>
      <p class="section-title-phrase">New Releases Of The Week</p>
    </div>
    </section>

  <div class="album-section">

  </div>

<!--Scrolling Text-->
<div class="scrolling-text-container">
      <p class="scrolling-text">
      Your Vibe Discovered
      </p>
</div>

<!--Playlists-->
<section class="playlists">
  <div class="section-title-area">
    <h2 class="section-title-month">apr</h2>
    <p class="section-title-days">1 - 8</p>
    <p class="section-title-phrase">New Releases Of The Week</p>
  </div>
  </section>
  </section>
     


    </main>
    {% include 'footer' %}
  </body>
</html>
