<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Homepage' %}
  <body class="home">
    {% include 'header' %}
    <main class="main-content-container">
      <h1 class="main-content-text">Vibe Vault</h1>

<!--Homepage Collage-->
<div class="collage-container">
      <img class="homepage-collage"
        src="/assets/homepage.jpg"
        alt="A collage of artists with surrounding stars"/>
</div>

<!--Scrolling Text-->
<div class="scrolling-text-container-homepage">
      <p class="scrolling-text-homepage">
       Welcome Explore To Find Your Vibe
      </p>
</div>

<!--3 Image Tabs-->
<div class="three-image-tabs">
  <a href="/discover"><img class="tabs" src="/assets/discover.jpg"/></a>
  <a href="/culture"><img class="tabs" src="/assets/culture.jpg"/></a>
  <a href="/appreciate"><img class="tabs" src="/assets/appreciate.jpg"/></a>
</div>

<!--Song Of The Day-->
<p class="song-of-the-day"> 
  Song Of The Day
</p>

<!--Music Video-->
<div class="music-video-container">
  <video class="music-video" autoplay muted>
      <source src="/assets/Momma.mp4" type="video/mp4">
  </video>
</div>

<!--Spotify Bar-->
<div class="spotify-bar-container">
  <iframe class="spotify-bar" style="border-radius:12px" 
            src="https://open.spotify.com/embed/track/3381KgaT7kBV2Cuno9scbe?utm_source=generator"
            width="75%" 
            height="300" 
            frameBorder="0" 
            allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
            loading="lazy"></iframe>
</div>

    </main>
    {% include 'footer' %}
  </body>
</html>
