<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'My Homepage' %}
  <body class="home">
    {% include 'header' %}
    <main id="main-content">
      <h1>Vibe Vault</h1>

<!--Homepage Collage-->
      <img class="homepage-collage"
        src="/assets/homepage.jpg"
        alt="A collage of artists with surrounding stars"/>

<!--Scrolling Text-->
<div class="scrolling-text-container">
      <p class="scrolling-text">
       Welcome Explore To Find Your Vibe
      </p>
</div>

<!--3 Image Tabs-->
<div class="three-image-tabs">
  <a href="Appreciate.html"><img class="tabs" src="/assets/discover.jpg"/></a>
  <a href="Culture.html"><img class="tabs" src="/assets/culture.jpg"/></a>
  <a href="Discover.html"><img class="tabs" src="/assets/appreciate.jpg"/></a>
</div>

    </main>
    {% include 'footer' %}
  </body>
</html>
